<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <connectionStrings>
     <add name="printinghouse" connectionString="Data Source=LAPTOP-4A7L67B1\SQLEXPRESS;Initial Catalog=Типография;Integrated Security=True"/>
   </connectionStrings>
</configuration>